<section>
  <h1>Movies – UI</h1>
  <p>Use the links above to navigate.</p>
  <ul>
    <li>Show a movie by <code>_id</code> or <code>Movie_ID</code></li>
    <li>Insert a new movie</li>
  </ul>
</section>
